<%- include("header") -%>

<div class="header">
  <h1>Artics</h1>
</div>

<div class="shop-body">
  <h3>Click 'More Info' to see cost and owner...</h3><br><br>
  <% items.forEach(function(item){ %>
    <% let itemName = item.itemName %>
    <div>
      <h2><%=item.itemName%></h2>
      <a href="/artics/<%= item.itemName %>"><button type="button" name="mi-btn">More Info</button></a>
    </div>
  <% }); %>
</div>

<%- include("footer") -%>
