<%- include("header") -%>

<div class="header">
  <h1>Artics</h1>
</div>

<div class="shop-body">
  <h3>Click 'More Info' to see cost and owner...</h3><br><br>
  <table>
   <% items.forEach(function(item){ %>
    <% let itemName = item.itemName %>
    <tr>
     <td><h2><%=item.itemName%></h2></td>
     <td><a href="/artics-<%= item.itemName %>"><button type="button" name="mi-btn">More Info</button></a></td>
    </tr>
   <% }); %>
  </table>
</div>

<%- include("footer") -%>
