<footer>

  <h1>Contact</h1>

  <ul>
    <h3>Mail</h3>
    <li>themgdmfamily@gmail.com - Official</li>
    <li>mugi.gunalan@gmail.com - Primary</li>
    <li>gunalan.selvam@gmail.com - Alternative</li>
  </ul>
  <ul class="phone">
    <h3>Phone</h3>
    <li>+91 96321 77441 - Primary</li>
    <li>+91 91485 48587 - Alternative</li>
    <li></li>
  </ul>

  <p>&copy; MGDM4U</p>
  <a href="/latest-update">V 2.0</a>

</footer>
</body>
</html>
