<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>MGDM4U</title>
    <link rel="icon" href="logo.ico">
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Indie+Flower&display=swap" rel="stylesheet">
  </head>
  <body>

<nav>
  <div class="name-div">
    <img src="Logo.png" alt="logo" height="35px" width="40px">
    <a class="navbar-brand" href="/home"><h1>MGDM4U</h1></a>
  </div>
  <div>
      <ul>
        <li><a href="/home">&#f015;</a></li>
        <li><a href="/mnm-bros">&#f121;</a></li>
        <li><a href="/shopping">&#f53f;</a></li>
      </ul>
    </div>
  </div>
</nav>
