<%- include("header") -%>

<div class="header">
  <h1>Welcome to MGDM4U</h1>
</div>

<div class="home-body">
  <img src="Logo.png" alt="Its the Logo" height="400px" width="400px">
  <div class="home-wtext">
    <h1 class="heading">Welcome</h1>
    <p class="text">This is a Hello from the MGDM4U Family. There are 4 of us i.e. M - Mugilan. G, G - Gunalan. S, D - Deebha. G and M - Magizhan. G. We are here to give you stories and stuff. We are just a family living in Bengaluru, India.
Our first story created by Gunalan is The Mistake, We guys really loved the story we hope even you do. If you do or don't like our stories and stuff, please comment about it in one of our e-mails. You can even shop in our newly started shopping tab.
Our websites are created by Mugilan and Magizhan(MaMu Bros).The ideas are given by Gunalan and Deebha.</p>
  </div>
  <div class="stories-div">
    <h2>Stories</h2>
    <ul>
      <li><a href="/novel-the-mistake">The Mistake</a></li>
    </ul>
  </div>
</div>

<%- include("footer") -%>
