<%- include("header") -%>

<div class="header">
  <h1>Welcome to MGDM4U</h1>
</div>

<div class="home-body">
  <img src="Logo.png" alt="Its the Logo" height="350px" width="400px">
  <div class="home-wtext">
    <h1 class="heading">Welcome</h1>
    <p class="text">This is a Hello from the MGDM4U Family. There are 4 of us i.e. M - Mugilan, G - Gunalan, D - Deebha and M - Magizhan. We are here to give you stories and stuff. We are just a family living in Bengaluru, India.
    When you open our website, if it is blank white, Please wait for 30 seconds because if our website hasn't been used for more then 30 minutes, it will shut down and will take 30 seconds to come back online when a user logs in.
    <!-- You can also <a href="/subscribe">subscribe</a> to our updater to get informed for our updates. -->
    We'll try and bring you an subscribe option which will make us let you get a mail for every update.
    </p>
  </div>
  <div class="stories-div">
    <h2>Stories</h2>
    <ul>
      <li><a href="/the-mistake">The Mistake</a></li>
    </ul>
  </div>
</div>

<%- include("footer") -%>
