<%- include("header") -%>

<div class="header-special">
  <img class="cloud-1-img cloud" src="https://user-images.githubusercontent.com/110233248/182864375-3b8b9fef-ca41-4778-95e8-f76221da7b2f.png">
  <h1>M'nM Bros</h1>
  <img class="cloud-2-img cloud" src="https://user-images.githubusercontent.com/110233248/182864375-3b8b9fef-ca41-4778-95e8-f76221da7b2f.png">
</div>

<div class="mnm-body">
  <div class="about">
    <h1 class="about_us_main_heading">Who are M'nM Bros?</h1>
    <div class="our_logo_div">
      <img class="our_logo" src="https://user-images.githubusercontent.com/104061845/204075052-79d0feb3-6291-4e66-a920-c31b6985191a.png">
      <p class="about_us_p" align="center" style="font-size:32px;">Our Logo</p>
    </div>

    <p class="about_us_p">We are M'nM Bros. We are two brothers from Bengaluru, Karnataka, India. Our names are Magizhan and Mugilan. We were born in Pondicherry and were brought up in Bengaluru in India. We started coding in the year 2019. We started learning this as a part time, when we were free.</p>
    <h2 class="about_us_headings">Magizhan</h2>
    <p class="about_us_p">I was born on 21st September 2007. My hobbies are to code and to play any outdoor games.</p>
    <h2 class="about_us_headings">Mugilan</h2>
    <p class="about_us_p">I was born on 30th April 2009. My hobbies are to code, playing football and art & craft.</p>
  </div>

  <div class="wwd">
    <img class="wwd-img" src="https://user-images.githubusercontent.com/110233248/182864269-b47772d3-4bdb-4d4c-8314-79da5c159dc8.png" alt="Just an Image">
    <h1>What do we do?</h1>
    <p>It's easy, we do nothing, heh heh. Not exactly 'nothing' nothing but we do websites when we are simply sitting and the websites for MGDM4U's stories and stuff.</p>
  </div>

</div>

<%- include("footer") -%>
