<%- include("header") -%>

<div class="header">
  <h1>Subscribe to our Updater</h1>
</div>

<div class="subscribe-body">
  <center>
  <form class="subscribe" action="/" method="post">
    <input class="f-input" type="text" name="name" placeholder="Name" required autofocus><br>
    <input class="l-input" type="email" name="email" placeholder="Email address" required><br>
    <button class="subs-btn" type="submit">Subscribe</button>
  </form><br><br>
  <h5>You will get an mail for every update and more, if you Subscribe...</h5>
</center>
</div>

<%- include("footer") -%>
