<%- include("header") -%>

<div class="header">
  <h1>The Mistake</h1>
</div>

<div class="story-body">
  <h4>Storyline: Investigation - crime, suspense and science</h4>
  <p>The opening scene is a crime scene. We see two important meetings happening in two different meeting rooms - context of the meetings are not related to each other. First Meeting Room: Very serious discussion happening among all investor of a leading organisation. The Director (Big Boss-1) of the organisation is listening to the discussion and he suddenly gets an important call from someone. He asks for excuse from the others and picks the call and gets up from his seat and moves close to the window. Camera zoom out and show that the meeting is happening on a high rise building in the city. Zoom in to show the Big Boss-1 talking seriously on the phone.

Second Meeting Room: Similar discussion is happening among department heads in another leading organisation where the MD (Big Boss-2) of that organisation is listening to the discussion. This Big Boss-2 gets a call and asks for excuse from others and picks the call. Since the call is getting heated, the Big Boss-2 now gets up from his seat and moves close to the window of that room. Again zoom out and show that the meeting is happening on a high rise building in the city. Zoom in to show that the Big Boss-2 is arguing with someone on the phone very seriously. There is a sudden gun shot and one of the big boss is shot dead by a sniper.

There is chaos and commotion everywhere. Rapidly show turn of events - police jump in, forensic sweep the place and collect evidences and document the crime scene inch by inch. File submitted to the Crime Branch / Special Agent for quick closure since there is pressure from high levels of politicians to quickly narrow down on the crime and find the reason.

Investigating officer starts investigating suspects and tries to build a story using the evidences and documentation about the crime. Officer is not able to zero in on any suspect because the trails are not connecting somewhere. As usual, there is political pressure and the higher-ups try to find some kind of scape goat to close the case. There is chaos and heated arguments.</p>
  <div><img src="dia1.png" alt="Its a diagram" height="250px"></div>
  <p>The actual crime is like this - the actual target was the Big Boss-1 who is very influential in politics but the victim who got shot was Big Boss-2 who was not linked anywhere to this pre-text. That is why there were no clues leading to the actual crime / criminal. What happened? <br><br>

Both the meeting rooms are on the same floor number of different high rise buildings. Both the High Rise buildings are in the same location of the same city. They are placed as shown in the image beside.<br>
    <ul>
      <li>Big Boss-1 is in the 18th floor of High Rise Building 1</li>

      <li>Big Boss-2 is in the 18th floor of High Rise Building 2</li>

      <li>Sniper is in the 18th floor of High Rise Building 3</li>
    </ul></p>
  <img src="dia2.png" alt="Its a diagram" height="250px" style="float:left;"><br>
  <p>Sniper is using a 7.62×51mm NATO (.30 calibre rifle cartridge) Image shown beside as representation only. </p><br>
  <p>The twist here is that the angle alpha shown in the above image 37° 1’ 09.0” is very crucial in the design. Now the building arrangement in the above location image when looked closely will have the below coincidence in the angle x (18° 30' 34.5") which is actually “alpha/2”. Refer below image for details. </p><br><br><br><br>
  <img src="dia3.png" alt="Its a diagram">
  <div><img src="dia4.png" alt="Its a diagram" height="250px"></div><br><br><br><br><br><br>
  <p>See that the same angle is present in the incident direction of the bullet fired from the sniper.</p>
  <p>The Result: Since the glass window in the 18th Floor of High Rise Building 1 is 10mm thick and the incident angle of bullet is same as the bullet nose angle divided by 2 (alpha/2 as per bullet dimension image). This caused the bullet to be reflected and directed to the same floor in the High Rise Building 2 where the other Big Boss-2 was attending the phone call near the glass window. Now since this incident angle was not equal to x, the bullet penetrated the window and hit the Big Boss-2 thus critically injuring him.</p>
  <hr>
  <h5>By Gunalan.S</h5>
</div>

<%- include("footer") -%>
