<%- include("header") -%>

<div class="header">
  <h1>What's new in this Update - V 2.0</h1>
</div>

<div class="update-body">
  <h3>This Update - V 2.0</h3>
  <h3>This one was a mega yearly update...</h3>
  <ul>
    <li>New Permanent Logo</li>
    <li>What's new in this update - page A.K.A this page</li>
    <li>Version counting</li>
    <li>The look or colours of the website</li>
    <li>New Story-series - The Johns</li>
    <li>Like and Dislike options for each story.</li>
    <li>New Story - The Johns - Part-1</li>
  </ul>
  <h3>Next Update - Probably - V 2.1</h3>
  <ul>
    <li>Subscribe - You do it to get mails about updates, new stories, festive offers on shopping items, and more.</li>
  </ul>
</div>

<%- include("footer") -%>
