@media only screen and (max-width: 600px) {
  home-body img{
    width:100%;
    height:auto;
  }
  .home-wtext{
    float: none;
    width:100%;
    height:auto;
  }
}

body{
  margin: 0;
}

h1, h2, h3, h4, h5, h6{
  font-family: "Indie Flower"!Important;
  color: #fff;
  margin: 0;
  padding: 1em;
}

a, p, li{
  font-family: "Comfortaa"!Important;
  color: cyan;
  margin: 0;
  padding: 1em;
}

.home-body, .story-body, .subscribe-body, .update-body, .wwd {
  background-color: darkblue;
  color: cyan;
}

.about, .shop-body, .shop-item-body {
  background-color: darkgreen;
  color: cyan;
}

a{
  text-decoration: double;
  color: #39FF14;
}

nav{
  position: fixed;
  height: 3.75em;
  background-color: black;
  margin: 0!Important;
  width: 100%;
}

.name-div h1{
  color:#fff;
  font-size: 1.25em;
  font-family: "Indie Flower";
  padding: 0.1em 1em;
  float:right;
}

nav a:not(.name-div a){
  color: cyan;
  font-family: "Comfortaa";
  padding: 0.75em 1em;
  text-decoration: none;
  font-size: 1.5em;
}

nav .name-div{
  padding: 0.75em;
}

nav a:hover:not(.name-div a){
  background-color: #39FF14;
  color: #333;
}

.btn-clicked{
  height: 7.5em;
}

.float-right{
  float: right;
  padding-right: 2.5em;
}

nav ul{
  display: none;
}

nav li{
  list-style: none;
  display: inline;
}

nav button img{
  height:1.5em;
  width:1.5em;
}

nav button{
  float:right;
  margin: 1em;
  background-color: black;
  border: 0;
}

.display-block{
  display: block;
}

footer{
  text-align: center;
  background-color: #333;
  color: #00FFAB;
  font-family: "Comfortaa";
  min-height: 27.5em;
}

footer h1{
  color: #ffffff;
  font-size: 2em;
}

footer ul{
  width: 50%;
  padding: 0;
  float: left;
}

footer p{
  color: #FED049;
}

h1{
  color:#fff;
  font-family: "Indie Flower"!Important;
  margin: 0!Important;
  padding: 1.2em 0;
  text-align:center;
}

footer a{
  text-decoration: none;
  color: #FED049;
}

h6 button{
  margin: 0 3em;
  padding: 0.5em;
  border-radius: 3em;
  border: 0;
  background-color: darkgreen;
}

.home-body ul{
  line-height: 2em;
}

.likes, .story-body form{
  display: inline;
}

.update-body{
  min-height: 50em;
}

.home-body img{
  padding: 0;
}

.navbar-toggle{
  float: right!Important;
}

.nav{
  float: right!Important;
}

.heading{
  font-size: 4em;
  padding: 0.5em;
}

.header h1{
  padding: 2em 0 0 0;
  font-size: 4em;
  text-align:center;
}

.mnm-body .about{
  padding: 0 2em;
  height: 40em;
}

.mnm-body .wwd{
  padding: 2em 2em 5em 2em;
}

.mnm-body p{
  padding:1% 2%;
  font-family: 'Comfortaa';
}

.phone{
  float: right;
  color: #00FFAB;
}

.name-div{
  float:left;
}

.other-tabs-link{
  float: right;
}

.home-wtext{
  float: right;
  width: 60%;
}

.text{
  font-family: "Comfortaa";
  line-height: 1.5em;
}

.home-body{
  padding: 2em;
}

.stories-div h2{
  font-size: 3em;
  font-family: "Indie Flower";
}

.stories-div a{
  text-decoration: none;
  font-family: "Comfortaa";
  font-size: 1.25em;
}

.header{
  padding: 0;
  background-image: url("header-bg.png");
  height:20em;
}

.about_us_headings{
  color:#FFCA03;
  font-family: "Indie Flower";
}

.our_logo{
  width:50%;
  height:auto;
}

.our_logo_div{
  width:40%;
  float:right;
}

.wwd-img{
  float: left;
  margin: 1em;
}

.story-body{
  padding: 2em;
  font-family: "Comfortaa";
  line-height: 1.5em;
}

.story-body h5, .story-body h4{
  font-weight: bold;
  font-family: "Indie Flower";
}

.story-body h5{
  text-align: center;
  font-size: 1em;
}

.story-body img{
  margin: 1.5em;
}

.story-body div{
  float: right;
}

.shop-body, .shop-item-body{
  padding: 2em;
  font-family: "Indie Flower";
}

.shop-body button{
  background-color: blue;
  border-radius: 5em;
  border:none;
  color: white;
  font-family: "Comfortaa";
  padding: 0.5em 2em;
  font-size: 1.25em;
  cursor: pointer;
}

.shop-item-body div{
  float: right;
  width: 60%;
}

.subscribe-body{
  padding: 3em;
  font-family: "comfortaa";
}

.subscribe-body h5{
  margin: 0;
}

.subscribe-body input{
  width: 25%;
  height: 2em;
  border-radius: 0.5em;
  background-color: rgb(0, 0, 0);
  color: #fff;
  font-family: "comfortaa";
}

.subs-btn{
  background-color: rgb(0, 0, 0);
  color: #fff;
  font-family: "comfortaa";
  font-size: 1em;
  height: 2em;
  width: 20%;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

.f-input{
  border-bottom-left-radius: 0!Important;
  border-bottom-right-radius: 0!Important;
}

.l-input{
  border-radius: 0!Important;
}
