body{
  margin: 0;
}

h1, h2, h3, h4, h5, h6{
  font-family: "Indie Flower"!Important;
  color: #fff;
}

a, p, li{
  font-family: "Comfortaa"!Important;
  color: cyan;
}

.home-body, .story-body, .subscribe-body, .update-body, .wwd {
  background-color: darkblue;
  color: cyan;
}

.about, .shop-body, .shop-item-body {
  background-color: darkgreen;
  color: cyan;
}

a{
  text-decoration: double;
  color: #39FF14;
}

nav{
  overflow: hidden;
  position: sticky;
  height: 3.75em;
  background-color: black;
  margin: 0!Important;
}

nav h1{
  color:#fff;
  font-size: 1.25em;
  font-family: "Indie Flower";
  padding: 0.1em 1em;
  float:right;
}

nav a:not(.name-div a){
  color: cyan;
  font-family: "Comfortaa";
  padding: 0.75em 1em;
  text-decoration: none;
  font-size: 1.5em;
}

nav .name-div{
  padding: 0.75em;
}

nav a:hover:not(.name-div a){
  background-color: #39FF14;
  color: #333;
}

nav ul{
  float:right;
}

nav li{
  display: inline;
}

footer{
  text-align: center;
  background-color: #333;
  color: #00FFAB;
  font-family: "Comfortaa";
  min-height: 27em;
}

footer h1{
  color: #ffffff;
  font-size: 2em;
}

footer ul{
  width: 50%;
  padding: 0;
  float: left;
}

footer p{
  padding: 12em 0 1em 0;
  margin:0;
  color: #FED049;
}

h1{
  color:#fff;
  font-family: "Indie Flower"!Important;
  margin: 0!Important;
  padding: 1.2em 0;
  text-align:center;
}

footer a{
  text-decoration: none;
  color: #FED049;
}

h6 button{
  margin: 0 3em;
  padding: 0.5em;
  border-radius: 3em;
  border: 0;
  background-color: darkgreen;
}

.home-body ul{
  line-height: 2em;
}

.likes, .story-body form{
  display: inline;
}

.gth-h3{
  margin: 0;
  text-align: right;
  padding: 1em;
}

.gth-link{
  color: #fff;
  text-decoration: underline;
  padding: 0;
}

.home-body img{
  padding: 0;
}

.navbar-toggle{
  float: right!Important;
}

.nav{
  float: right!Important;
}

.heading, .mnm-body h1{
  font-size: 4em;
}

.heading{
  padding: 0.5em;
}

 .header-special h1{
   font-size: 4em;
   padding: 0.5em;
 }

.header h1{
  padding: 1.2em 0 0 0;
  font-size: 4em;
  text-align:center;
}

.mnm-body .about{
  padding: 0 2em;
  height: 40em;
}

.mnm-body .wwd{
  padding: 2em 2em 5em 2em;
}

.mnm-body p{
  padding:1% 2%;
  font-family: 'Comfortaa';
}

.phone{
  float: right;
  color: #00FFAB;
}

.name-div{
  float:left;
}

.other-tabs-link{
  float: right;
}

.home-wtext{
  float: right;
  width: 60%;
}

.text{
  font-family: "Comfortaa";
  line-height: 1.5em;
}

.home-body{
  padding: 2em;
}

.stories-div h2{
  font-size: 3em;
  font-family: "Indie Flower";
}

.stories-div a{
  text-decoration: none;
  font-family: "Comfortaa";
  font-size: 1.25em;
}

.header-special{
  padding: 0;
  background-image: url("header-bg.png");
}

.header{
  padding: 0;
  background-image: url("header-bg.png");
  height:15em;
}

.cloud{
  height:100px;
  width:150px;
}

.cloud-1-img{
  position: relative;
  animation:cloud-1 20s infinite;
  animation-timing-function: linear;
}

@keyframes cloud-1 {
  from {left:0px;}
  to {left:1340px;}
}

.cloud-2-img{
  position: relative;
  animation:cloud-2 25s infinite;
  animation-timing-function: linear;
}

@keyframes cloud-2 {
  from {left:0px;}
  to {left:1340px;}
}

.about_us_headings{
  color:#FFCA03;
  font-family: "Indie Flower";
}

.our_logo{
  width:500px;
  height:auto;
}

.our_logo_div{
  width:40%;
  float:right;
}

.wwd-img{
  float: left;
  margin: 1em;
}

.story-body{
  padding: 2em;
  font-family: "Comfortaa";
  line-height: 1.5em;
}

.story-body h5, .story-body h4{
  font-weight: bold;
  font-family: "Indie Flower";
}

.story-body h5{
  text-align: center;
  font-size: 1em;
}

.story-body img{
  margin: 1.5em;
}

.story-body div{
  float: right;
}

.shop-body, .shop-item-body{
  padding: 2em;
  font-family: "Indie Flower";
}

.shop-body div{
  float: right;
  width: 70%;
}

.shop-body button{
  background-color: blue;
  border-radius: 5em;
  border:none;
  color: white;
  font-family: "Comfortaa";
  padding: 0.5em 2em;
  font-size: 1.25em;
  cursor: pointer;
}

.shop-item-body div{
  float: right;
  width: 60%;
}

.subscribe-body{
  padding: 3em;
  font-family: "comfortaa";
}

.subscribe-body h5{
  margin: 0;
}

.subscribe-body input{
  width: 30em;
  height: 2em;
  border-radius: 0.5em;
  background-color: rgb(0, 0, 0);
  color: #fff;
  font-family: "comfortaa";
}

.subs-btn{
  background-color: rgb(0, 0, 0);
  color: #fff;
  font-family: "comfortaa";
  font-size: 1em;
  height: 2em;
  width: 25.5em;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

.f-input{
  border-bottom-left-radius: 0!Important;
  border-bottom-right-radius: 0!Important;
}

.l-input{
  border-radius: 0!Important;
}

@media only screen and (max-width:1000px){
  .home-wtext{
    float: none;
    width: 100%;
  }
  .home-body img{
    padding: 1em 12em;
  }
  .story-body div{
    width:100%;
  }
  @keyframes cloud-1 {
    from {left:0px;}
    to {left:800px;}
  }
  @keyframes cloud-2 {
    from {left:0px;}
    to {left:800px;}
  }
  .our_logo_div{
    width:100%;
    text-align:center;
  }
  .mnm-body .about{
    height: 60em;
  }
  .wwd-div h1{
    font-size: 30px!Important;
  }
  .wwd-div p{
    font-size: 15px!Important;
  }
  .shop-body{
    height: 30em;
  }
  .shop-body img{
    padding: 1em 12em;
  }
  .shop-item-body{
    height: 40em;
  }
  .shop-item-body div{
    float: none;
    width: 100%;
  }
  .shop-item-body img{
    padding: 1em 8em;
  }
}
@media only screen and (max-width:600px){
  footer p {
    padding-top: 15em;
  }
  nav{
    height: 15em;
  }
  nav ul{
    float: none;
    padding: 4em 0;
    margin: 0;
  }
  nav li{
    display: block;
    padding: 1em;
  }
  .header{
    height: 20em;
  }
  .home-body img{
    padding: 1em 1.5em;
  }
  .story-body img{
    margin: 0;
    width: 375px;
    height: auto;
  }
  .mnm-body .about{
    height: 65em;
  }
  .cloud{
    display: none;
  }
  .main_head-div{
    margin-top: 2em;
  }
  .main_head-div .main_head{
    font-size: 3.5em!Important;
  }
  .carousel{
    height:1000px;
  }
  .our_logo_div{
    width:100%;
    text-align:center;
  }
  .our_logo, .wwd-img{
    width:300px;
    height: 200px;
  }
  .wwd-img{
    float: none;
    margin: 0;
  }
  .shop-body img{
    padding: 1em 2em;
  }
  .shop-item-body img{
    padding: 0;
    height: 17em;
  }
}
